= form_with url: url, local: false, data: { type: :json }, method: :get, html: { id: url.sub('/', '')} do |form| 
  = form.label :query, "Search for:" 
  = form.text_field :query
  = form.submit "Search", class: "search-btn"
