h1 New answer was added to the question you subscribed:
p = "#{@answer.body}"
If you want to unsubscribe from sending notifications, follow the link:
p= link_to 'QNA',  "http://localhost:3000/questions/#{@answer.question.id}"
