= form_with model: [resource, @subscription], url:  question_create_subscription_path(resource), multipart: true, local: false do |f|
  = f.submit "Subscribe", id: "subscribe_question", class: 'button a'
