.hidden { display: none }
.best { color: red }

.button a { 
  display:block; 
  width:100px; 
  background: #C0C0C0;
  color:#000000;
  text-decoration:none; 
  font-size:17px; 
  text-align: center; 
  border-radius: 5px;
} 
