= link_to "UP", answer_vote_path(resource, :vottable_id => resource.id, :value => "like"), method: :post, class: "vote-up-answer btn btn-secondary btn-sm", remote: true, data: { type: :json }

.answer_rating
    p id="change_answer#{resource.id}_rating" value="#{resource.rating}"=resource.rating 
 
= link_to "DOWN", answer_vote_path(resource, :vottable_id => resource.id, :value => "dislike"),method: :post, class: "vote-down-answer btn btn-secondary btn-sm", remote: true, data: { type: :json }
p=

= link_to 're-vote', vote_path(resource, :vottable => resource.class.name, :vottable_id => resource.id ), method: :delete, data: { confirm: ('Are you sure?'),  remote: true, type: :json }, class: "answer_delete_vote", class:"btn btn-outline-secondary"
br
